*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

html, body, .terminal {
    height: 100%;
    width: 100%;
    background-color: #1D1F21;
}

html, body, .container {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.container {
    padding: .5em;
}

.tooltip {
    color: #C5C8C6;
    position: absolute;
    top: .25em;
    padding: .2em;
    font-family: monospace;
    background-color: rgba(29, 31, 33, 0.84);
    border: 2px solid #C5C8C6;
    z-index: 114514;
}